{
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": ["text", "lcov"],
  "exclude": [
    "coverage",
    "node_modules",
    ".next"
  ],
  "include": ["app/**/*"],
  "excludeAfterRemap": true,
  "all": true,
  "check-coverage": false,
  "extension": [".js", ".cjs", ".mjs", ".ts", ".tsx", ".jsx"],
  "report-dir": "./coverage",
  "cache": false
}
